html {
  font-family: $main-font;
  height: 100%;
}

body {
  background: $black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  display: inline-flex;
}

.center-content {
  color: $white;
  margin: auto auto;
  max-width: 745px;
  padding: 46px;
}


.highlight {
    color: $rosered;
    font-weight: 700;
}

.fas {
  color: $yellow;
}

a {
  @include transition;
  color: $blue;
  border-bottom: 2px solid $blue;
  text-decoration: none;
}

a:hover {
  @include transition;
  color: $white;
  text-decoration: none;
}

p {
  line-height: 34px;
  font-size: 20px;
  font-weight: 200;
}

h1 {
  margin: 0 auto;
  font-size: 72px;
  font-weight: 900;
}


.fadeUp {
  opacity:0;
  -webkit-animation:fadeUp ease-in 1;
  -moz-animation:fadeUp ease-in 1;
  animation:fadeUp ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeUp.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeUp.two {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes fadeUp {
  0% {opacity: 0; transform: translateY(5px); }
  100% {opacity: 1;  }
}

@-moz-keyframes fadeUp {
  0% {opacity: 0; transform: translateY(5px); }
  100% {opacity: 1;  }
}

@keyframes fadeUp {
  0% {opacity: 0; transform: translateY(5px); }
  100% {opacity: 1;  }
}