// Colors
$black: #282B35;
$white: #FDFFFC;
$yellow: #F1D302;
$rosered: #E85653;
$blue: #788DE2;

// Fonts
$main-font: 'Raleway', sans-serif;

// Mixins
@mixin transition {
  transition: all 0.15s ease-in-out;
}
